.main{
    margin: 0 auto;
    max-width: 1200px;
}
.container {
    display: flex;
    justify-content: space-between;
    
  }
  
  .containerHeading {
    padding: 10px;
  }
  .YellowText{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 22px;
    color: #f1d625;

  }
  .heading {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    color: #f1d625;
    margin-bottom: 10px;
  }
  
  .whiteText {
    color: #fff;
  }
  .subHeading {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
  }
  .paragraph {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
  }
    /* --------------Our Services------- */
    .servicesContainer {
      text-align: center; 
    }
    
    .servicesHeading {
        color: #fff;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 30px;
        margin-top: 20px; 
    }
    
    .servicesSubHeading{
      color: #f1d625;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 20px;
    
    }
.mainContainer{
  margin-top: 30px;
}
    


 /* --------------content  Container------- */
.contentContainer{
margin-top: 30px;
}

.contentHeading {
  color: #f1d625;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 25px;
  margin-top: 30px; 
}

.contentParagraph{
  color: #fff;
font-weight: bold;
font-family: sans-serif;
font-size: 18px;
margin-top: 20px;

}

.contentSubParagraph{
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  
  }

/* --------------Short Card------- */

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; 
  padding: 20px;
  margin-bottom: 30px;
  
}

.shortCard {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; 
  width: 350px; 
  text-align: center; 
  border: 5px solid rgba(255, 216, 97, 1);
}

.shortCard:hover {
  transform: translateY(-10px); 
}

.shortCardTitle {
  margin: 0 0 10px 0;
  color: #f1d625;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 24px;


}

.shortCardDesc {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
